* {
  box-sizing: border-box;
}

body {
  margin: 2%;
  padding: 0.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Header and navigation bar */

header {
  display: flex;
  justify-content: space-between;
}


nav {
	display: flex;
	justify-content: space-between;
	margin-right: 100px;
}

header nav ul {
	display: flex;
	align-items: center;
}

header nav ul li {
	list-style: none;
	margin: 0 5px;
}

.hero-banner {
  display: flex;
  justify-content: flex-end;
  color: green;
  background-image: url("./images/02-hero-bg.jpg");
  background-size: cover;
  height: 200px;
}

.subtitle{
  display: flex;
  justify-content: center;
  background-color: beige;
  height: 50px;
}

/* Main content */

.container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 5px;
}

#about img {
  display: flex;
  height: 80px;
  width: 80px;
}

/* Portfolio content */

#work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 250px 250px;
  gap: 5px;
  grid-template-areas: 
  "first-application first-application"
  ;
}

#first-application {
  grid-area: first-application;

}

#first-application img {
  width: 100%;
  height: 400px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-section {
  background-color: white;
}

.work-card {
  background-color: grey;
}

/* Contact details - footer */

.contact-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/* Media query for screens under 650px */

@media screen and (max-width: 650px) {
	
	nav {
		width: 80vw;
	}

	nav ul {
		flex-wrap: wrap;
		justify-content: center;
	}

	nav ul li {
		padding: 3px;
	}

		#about {
		line-height: 1;
	}

	  #work {
		width: 100%;
		padding: 0;
	}

  #work {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas: 
    "first-application";

  }

	#first-application img {
    width: 100%;
    height: 200px;
  }
  
  img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  	.contact-details {
    margin: 2%;
    flex-direction: row;
		flex-wrap: wrap;
		padding: 10px;
	}
}